/* Colocar aquí CSS "propio" */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.img-fixed-size {
  object-fit: cover;
  height: 250px;
  width: auto;
}

.set-height {
  height: 400px;
}

.img-main {
  object-fit: cover;
  height: inherit;
  width: 100%;
}

.article-img {
  width: 100%;
}

.card-comment {
  margin-left: 150px;
}

.blogHome, .btns{
  color:lightgray !important;
}

.blogHome:hover{
  color:white !important;
}

.textWelcome{
  color:lightgray !important;
  font-size: 2rem;
  text-align: center !important;
  margin-bottom: 0% !important;
}